<% include ./partials/head.ejs %>

<% include ./components/mainHeader/mainHeader.ejs %>

<main class="main-container">
	<% include ./components/workGrid/workGrid.ejs %>
</main>

<% include ./partials/foot.ejs %>