<header class="main-header">
	<nav class="main-header__nav">
		<% include ../logoContainer/logoContainer.ejs %>
		<div class="eyecandy">
			<div class="square">
				
			</div>
		</div>
		<ul>
			<!-- <li><a href="">Contact me</a></li> -->
		</ul>
	</nav>
</header>