<section class="workgrid">
	<div class="workgrid__intro">
		<h1 class="workgrid__underline">My Work</h1>
		<figure>
			<img src="./images/working.svg" alt="">
		</figure>
	</div>
	<ul class="workgrid__container">
		<li>
			<a href="">
				<img src="./images/logowhite.svg" alt="">
			</a>
		</li>
		<li>
			<a href="">
				<img src="./images/logowhite.svg" alt="">
			</a>
		</li>
		<li>
			<a href="">
				<img src="./images/logowhite.svg" alt="">
			</a>
		</li>
		<li>
			<a href="">
				<img src="./images/logowhite.svg" alt="">
			</a>
		</li>
	</ul>
</section>